In [1]:
#install pylangacq to read CHAT files from talkbank.org
#documentation found at https://pylangacq.org/
import pylangacq
import pandas as pd
import numpy as np

In [ ]:
#extracting all text from spoken language corpora samples
#CABNC - the conversationalist part of the BNC, direct download link is here: https://ca.talkbank.org/data/CABNC.zip - available from here: https://ca.talkbank.org/access/CABNC.html
#CHILDES corpus - files used include those accessible in the ENG-UK section found here: https://childes.talkbank.org/access/Eng-UK/
#in addition to the brown corpus from the Eng-NA section here: https://childes.talkbank.org/access/Eng-NA/Brown.html

In [ ]:
#first create readers for all folders

In [ ]:
#CABNC reader - conversational part of the BNC 
cabnc=pylangacq.read_chat("CABNC.zip")

In [5]:
#returns all words in chat files as list of text
words=cabnc.words()
len(words) #total nr of words in CABNC = 2411852

2411852

In [6]:
#count frequency of occurance of each word 
word_freq=cabnc.word_frequencies()
len(word_freq) #nr of unique words in CABNC = 30072

30072

In [ ]:
#export word fq to csv file
all_freq=pd.DataFrame.from_dict(word_freq, orient='index')
all_freq.to_csv('cabnc_allfreq.csv')

In [2]:
#direct download link for Brown corpus zip folder here: https://childes.talkbank.org/data/Eng-NA/Brown.zip
brown=pylangacq.read_chat("Brown.zip")

In [3]:
#return all words from folder as a list
words=brown.words()

In [4]:
#total number of words in brown corpus
len(words)

838971

In [6]:
#count frequency of occurence of each word to return a dict
word_freq=brown.word_frequencies() #8671 unique words in corpus

In [7]:
#convert dict to df to export as csv
df=pd.DataFrame.from_dict(word_freq, orient='index').reset_index()
df.to_csv('frequencies/brown_counts.csv')

In [8]:
df

         index       0
0         play    1393
1     checkers       6
2            .  126862
3          big    1524
4         drum      90
...        ...     ...
8666  indirect       1
8667       Old       1
8668      Lady       1
8669      tale       1
8670    frowns       1

[8671 rows x 2 columns]

In [9]:
#readers for all accessible folders in CHILDES Eng-UK section
belf=pylangacq.read_chat("Belfast") #direct download: https://childes.talkbank.org/data/Eng-UK/Belfast.zip
crutt=pylangacq.read_chat("Cruttenden.zip") #direct download: https://phonbank.talkbank.org/data/Eng-UK/Cruttenden.zip
fletcher=pylangacq.read_chat("Fletcher.zip") #direct download: https://childes.talkbank.org/data/Eng-UK/Fletcher.zip
forr=pylangacq.read_chat("Forrester.zip")#direct download: https://childes.talkbank.org/data/Eng-UK/Forrester.zip
gath=pylangacq.read_chat("Gathburn.zip")#direct download: https://childes.talkbank.org/data/Eng-UK/Gathburn.zip
howe=pylangacq.read_chat("Howe.zip")#direct download: https://childes.talkbank.org/data/Eng-UK/Howe.zip
kelly=pylangacq.read_chat("KellyQuigley.zip")#direct download: https://childes.talkbank.org/data/Eng-UK/KellyQuigley.zip
korman=pylangacq.read_chat("Korman.zip")#direct download: https://childes.talkbank.org/data/Eng-UK/Korman.zip
lara=pylangacq.read_chat("Lara.zip")#direct download: https://childes.talkbank.org/data/Eng-UK/Lara.zip
manc=pylangacq.read_chat("Manchester.zip")#direct download: https://childes.talkbank.org/data/Eng-UK/Manchester.zip
nuff=pylangacq.read_chat("Nuffield.zip")#direct download: https://childes.talkbank.org/data/Eng-UK/Nuffield.zip
quigley=pylangacq.read_chat("QuigleyMcNally.zip")#direct download: https://asd.talkbank.org/data/English/QuigleyMcNally.zip
sekali=pylangacq.read_chat("Sekali.zip")#direct download: https://childes.talkbank.org/data/Eng-UK/Sekali.zip
smith=pylangacq.read_chat("Smith.zip")#direct download: https://phonbank.talkbank.org/data/Eng-UK/Smith.zip
tommer=pylangacq.read_chat("Tommerdahl.zip")#direct download: https://childes.talkbank.org/data/Eng-UK/Tommerdahl.zip

In [ ]:
corpora=[belf, crutt, fletcher, forr, gath, howe, kelly, korman, lara, manc, nuff, quigley, sekali, smith, tommer]

In [ ]:
d_words={}
for corpus in corpora:
    words=corpus.words()
    d_words[corpus]=len(words)

In [224]:
d_words

{<pylangacq.chat.Reader at 0x24cd1a95fd0>: 617846,
 <pylangacq.chat.Reader at 0x24ce8e98f40>: 13361,
 <pylangacq.chat.Reader at 0x24cc92a9550>: 262681,
 <pylangacq.chat.Reader at 0x24cd3abb100>: 83962,
 <pylangacq.chat.Reader at 0x24ce86df8e0>: 117905,
 <pylangacq.chat.Reader at 0x24ce8712fa0>: 72681,
 <pylangacq.chat.Reader at 0x24ce86df340>: 47456,
 <pylangacq.chat.Reader at 0x24ce86df4c0>: 55886,
 <pylangacq.chat.Reader at 0x24cd3a897f0>: 691315,
 <pylangacq.chat.Reader at 0x24ce8f1d8b0>: 2614730,
 <pylangacq.chat.Reader at 0x24cc983c100>: 53418,
 <pylangacq.chat.Reader at 0x24c93cabe50>: 79932,
 <pylangacq.chat.Reader at 0x24cf2cf3940>: 1076,
 <pylangacq.chat.Reader at 0x24c93b39580>: 10679,
 <pylangacq.chat.Reader at 0x24c93cabbe0>: 134293}

In [225]:
values=d_words.values()

In [226]:
sum(values) #nr of words in ENG-UK files

4857221

In [93]:
d={}
for corpus in corpora:
    word_freq=corpus.word_frequencies()
    d[corpus]=pd.DataFrame.from_dict(word_freq, orient='index').reset_index()

In [ ]:
#export fq counts to seperate csv files per folder (not essential)
#d[belf].to_csv('belf_freq.csv')
#d[crutt].to_csv('frequencies/crutt_freq.csv')
#d[fletcher].to_csv('frequencies/flecther_freq.csv')
#d[forr].to_csv('frequencies/forr_freq.csv')
#d[gath].to_csv('frequencies/gath_freq.csv')
#d[howe].to_csv('frequencies/howe_freq.csv')
#d[kelly].to_csv('frequencies/kelly_freq.csv')
#d[korman].to_csv('frequencies/korman_freq.csv')
#d[lara].to_csv('frequencies/lara_freq.csv')
#d[manc].to_csv('frequencies/manc_freq.csv')
#d[nuff].to_csv('frequencies/nuff_freq.csv')
#d[quigley].to_csv('frequencies/quigley_freq.csv')
#d[sekali].to_csv('frequencies/sekali_freq.csv')
#d[smith].to_csv('frequencies/smith_freq.csv')
#d[tommer].to_csv('frequencies/tommer_freq.csv')

In [2]:
#files with childes-UK total raw counts 
belfast=pd.read_csv('belf_freq.csv')
crutt=pd.read_csv('crutt_freq.csv')
fletcher_total=pd.read_csv('flecther_freq.csv')
forrester=pd.read_csv('forr_freq.csv')
gath=pd.read_csv('gath_freq.csv')
howe_total=pd.read_csv('howe_freq.csv')
kelly_total=pd.read_csv('kelly_freq.csv')
korman=pd.read_csv('korman_freq.csv')
lara_total=pd.read_csv('lara_freq.csv')
manc_total=pd.read_csv('manc_freq.csv')
nuff=pd.read_csv('nuff_freq.csv')
quig=pd.read_csv('quigley_freq.csv')
sekali_total=pd.read_csv('sekali_freq.csv')
smith=pd.read_csv('smith_freq.csv')
tommer_total=pd.read_csv('tommer_freq.csv')

NameError: name 'pd' is not defined

In [ ]:
#all childes Eng-Uk fq counts to be totalled 
dfs=[belfast, crutt, fletcher_total, forrester, gath, howe_total, kelly_total, korman, lara_total, manc_total, nuff, quig, sekali_total, smith, tommer_total]

In [ ]:
#merge all corpora to one dataframe 
totals=pd.merge(belfast, crutt, how='outer', on='index').merge(fletcher_total, how='outer', on='index').merge(forrester, how='outer', on='index').merge(gath, how='outer', on='index').merge(howe_total, how='outer', on='index').merge(kelly_total, how='outer', on='index').merge(korman, how='outer', on='index').merge(lara_total, how='outer', on='index').merge(manc_total, how='outer', on='index').merge(nuff, how='outer', on='index').merge(quig, how='outer', on='index').merge(sekali_total, how='outer', on='index').merge(smith, how='outer', on='index').merge(tommer_total, how='outer', on='index')

In [ ]:
#totals.to_csv('frequencies/CHILDES_totalCounts.csv')

In [2]:
b=pd.read_csv('frequencies/brown_counts.csv')
uk=pd.read_csv('frequencies/CHILDES_totalCounts.csv')

In [14]:
b=b.rename(columns={'0':'TotalCounts'})

In [15]:
b

      Unnamed: 0     index  TotalCounts
0              0      play         1393
1              1  checkers            6
2              2         .       126862
3              3       big         1524
4              4      drum           90
...          ...       ...          ...
8666        8666  indirect            1
8667        8667       Old            1
8668        8668      Lady            1
8669        8669      tale            1
8670        8670    frowns            1

[8671 rows x 3 columns]

In [19]:
uk

       Unnamed: 0      index  TotalCounts
0               0       come      11421.0
1               1         on      44194.0
2               2        now      18710.0
3               3          .     795706.0
4               4        you     140360.0
...           ...        ...          ...
31018       31018   patients          3.0
31019       31019    ladies'          1.0
31020       31020  kzkwooooo          1.0
31021       31021   biueeaaa          1.0
31022       31022     oh_boy          1.0

[31023 rows x 3 columns]

In [22]:
df3=pd.merge(uk, b, on='index', how='outer')

In [24]:
df3=df3.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y'])

In [28]:
df3=df3.fillna(0)

In [29]:
df3

          index  TotalCounts_x  TotalCounts_y
0          come        11421.0         1709.0
1            on        44194.0         5935.0
2           now        18710.0         2581.0
3             .       795706.0       126862.0
4           you       140360.0        26350.0
...         ...            ...            ...
33817    lizzes            0.0            2.0
33818       gop            0.0            9.0
33819      gops            0.0            1.0
33820  indirect            0.0            1.0
33821    frowns            0.0            1.0

[33822 rows x 3 columns]

In [30]:
sumcol=df3['TotalCounts_x']+df3['TotalCounts_y']

In [32]:
df3['CHILDES_Sum']=sumcol

In [33]:
df3

          index  TotalCounts_x  TotalCounts_y  CHILDES_Sum
0          come        11421.0         1709.0      13130.0
1            on        44194.0         5935.0      50129.0
2           now        18710.0         2581.0      21291.0
3             .       795706.0       126862.0     922568.0
4           you       140360.0        26350.0     166710.0
...         ...            ...            ...          ...
33817    lizzes            0.0            2.0          2.0
33818       gop            0.0            9.0          9.0
33819      gops            0.0            1.0          1.0
33820  indirect            0.0            1.0          1.0
33821    frowns            0.0            1.0          1.0

[33822 rows x 4 columns]

In [35]:
df3=df3.rename(columns={'index':'Term', 'TotalCounts_x': 'UK_CHILDES_Raw', 'TotalCounts_y':'Brown_Raw','CHILDES_Sum': 'All_CHILDES_Raw'})

In [36]:
df3

           Term  UK_CHILDES_Raw  Brown_Raw  All_CHILDES_Raw
0          come         11421.0     1709.0          13130.0
1            on         44194.0     5935.0          50129.0
2           now         18710.0     2581.0          21291.0
3             .        795706.0   126862.0         922568.0
4           you        140360.0    26350.0         166710.0
...         ...             ...        ...              ...
33817    lizzes             0.0        2.0              2.0
33818       gop             0.0        9.0              9.0
33819      gops             0.0        1.0              1.0
33820  indirect             0.0        1.0              1.0
33821    frowns             0.0        1.0              1.0

[33822 rows x 4 columns]

In [37]:
df3.to_csv('frequencies/allCHILDESraw.csv')